/*https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Styling_HTML_forms */

header {
	width: 300px;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(32, 189, 241);
	
	font-weight: bold;
	font-size: 25px;
	border-radius: 8px;
}

html, body {
	height: 100%;
	margin: 0;
	background-color: rgb(1, 180, 239);
}

main {
	min-height: 100%;
	background-color: rgb(89, 204, 242);
	width: 800px;
	margin: 0 auto;
	border-radius: 8px;
}

#main-form {
	padding-bottom: 50px;
	width: 50%;
	margin: 0 auto;
}

footer {
	height: 100px;
	margin-top: 10px;
	background-color: rgb(152, 222, 245);
	text-align: center;
	line-height: 100px;
}





select {
	width: 300px;
	border: none;
	background-color: rgb(159, 224, 245);
	padding: 16px 20px;
	border-radius: 4px;
}

/* disable resizable */
textarea {
	resize: none;
	/*  render more consistently across browsers */
	overflow: auto;
}

input[type=text] {
	border-radius: 5px;
}
/* width input hover transition type text */
input[type=text]:hover {
	width: 400px;
}

input[type=submit]:hover, input[type=reset]:hover {
	background-color: rgb(2, 163, 217);
}

input[type=text]:focus, textarea:focus {
	background-color: hsl(180, 100%, 95%);
}

input, textarea, select, button {
	box-sizing: border-box;
}

label, input[type=submit], input[type=reset]{
	display: block;	
}
input[type=submit], input[type=reset]{
	color: white;
	background-color: rgb(1, 180, 239);
	padding: 15px 15px;
	border-radius: 8px;
}

input[type=text], input[type=checkbox] {
	width: 300px;
	padding: 12px 20px; /* add space between the  */
	/* width hover transition */
	transition: width 1s;
	border-color: blue;
}

#basic-info input{
	margin: 10px 0;
}
#basic-info #age {
	margin-bottom: 50px;
}

#advanced-info label{
	margin: 0 0 10px 0;
}

#submitReset {
	text-align: center;
	margin-top: 10%;
}

#submitReset input{
	display: inline-block;
	margin-left: 50px;
}